<div class="uk-padding-large uk-child-width-1-1" uk-grid style="height: 300px;">
    <h3 class="centrar" style="font-weight: bold; color: black;">Tu perfil, {{first_name}}</h3>
    <ul class="centrar" style="list-style: none; color: black; font-weight: 500;">
        <li>Nombre: {{first_name}} {{last_name}}</li>
        <li>Email: {{email}}</li>
        <li>Edad: {{age}}</li>
        <li>Rol: {{role}}</li>
    </ul>
</div>